#main_container {
    width: 80%;
    text-align: center;
    padding: 50px;
    background-color: lightgrey;
}

#middle-section {
    display: flex;
    background-color: darkgrey;
    padding: 5% 2% 1% 2%;
    flex-direction: column;
    max-width: 100%;
}
#top-section {
    background-color: lightgrey;
    max-width: 100%;
    padding: 2%;
}

form {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
}

fieldset {
    flex: 1;
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    width: 60%;
    text-align: center;
}

#main-section {
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    align-items: stretch;
    justify-content: center;
    padding: 10px;
}

#table-render-space {
    background-color: peachpuff;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
}

#table-html-space {
    background-color: red;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
}

header, footer {
    display: flex;
    align-items: center;
    background-color: darkblue;
    color: white;
    text-align: center;
    margin: 1% 0;
}

header > p, footer > p {
    flex: 1;
    font-size: larger;
}

textarea {
    flex: 1;
}